services:
  - type: static_site
    name: movielog-frontend
    env: static
    rootDir: frontend
    buildCommand: npm ci && npm run build
    staticPublishPath: dist
    routes:
      - type: rewrite
        source: /assets/*
        destination: /assets/*
      - type: rewrite
        source: /vite.svg
        destination: /vite.svg
      - type: rewrite
        source: /*
        destination: /index.html
