<div id="<%= dom_id movie %>">
  <div>
    <strong>Title:</strong>
    <%= movie.title %>
  </div>

  <div>
    <strong>Overview:</strong>
    <%= movie.overview %>
  </div>

  <div>
    <strong>Release year:</strong>
    <%= movie.release_year %>
  </div>

</div>
